.content-stage {
    width: 100%;
    height: 100vh;
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    margin-top: 225px;
}

.stage-question {
    white-space: pre-wrap;
    overflow-wrap: break-word;
    font-size: 16px;
    color: rgba(133, 117, 117, 0.5);
}

.stage-question-title {
    white-space: pre-wrap;
    overflow-wrap: break-word;
    font-size: 24px;
    color: rgb(2, 2, 2);
}

.stage-question-description {
    margin-top: 10px;
    margin-bottom: 10px;
    white-space: pre-wrap;
    overflow-wrap: break-word;
    font-size: 14px;
    color: rgb(167, 167, 161);
}

.stage-question-resp {
    display: flex;
    align-items: center;
   
}

.stage-question-resp-img {
    max-height: 250px;
}
.stage-question-resp-img img {
    max-width: 450px;
    max-height: 240px;
    vertical-align: middle;
}

.stage-question-resp-answers {
    margin-left: 10px;
    width: 100%;
} 

.stage-question-resp-answers ul {
    list-style: none;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.stage-question-resp-answers ul li {
    margin: 4px 0;
}

.btn-shake {
    position: relative;
    animation-name: shake;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;    
}
  
@keyframes shake {
    0% {left: 0}
    10% {left: -6px}
    20% {left: 15px}
    30% {left: -15px}
    40% {left: 25px}
    50% {left: -25px}
    60% {left: 40px}
    70% {left: -40px}
    80% {left: 55px}
    90% {left: -55px}
    100% {left: 0}
}

.btn-flash {
    animation-name: flash;
    animation-duration: 1s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}
  
@keyframes flash {
    0% {opacity: 1.0}
    25% {opacity: 0.5}
    50% {opacity: 0}
    75% {opacity: 0.5}
    100% {opacity: 1.0}
}

.fade-in {
    animation: fadeIn ease 3s;
    -webkit-animation: fadeIn ease 3s;
    -moz-animation: fadeIn ease 3s;
    -o-animation: fadeIn ease 3s;
    -ms-animation: fadeIn ease 3s;
  }
  @keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
}
