@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');
* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

html,
body,
#root {
    height: 100%;
}

body {
    background: #f0f0f5;
    -webkit-font-smoothing: antialiased;
}

body,
input,
button,
label,
textarea {
    font-family: Roboto, sans-serif;
}

/***************************************************/
/* Cores da APP */
/***************************************************/
.primary-color {
    background-color: #00264e !important;
}

.primary-color-dark {
    background-color: #001326 !important;
}

.text-color {
    color: #beff00 !important;
}

.primary-text-color {
    color: #00264e !important;
}

.secondary-text-color {
    color: #ffffff !important;
}